<h2 mat-dialog-title>Про застосунок (більш додатково в файлі README.md)</h2>

<mat-dialog-content>
  <p>
    Це <strong>веб-застосунок</strong>, що дозволяє користувачеві ввести
    будь-яку суму та набір номіналів монет, після чого знаходить
    <strong>мінімальну кількість монет</strong>, необхідних для утворення цієї
    суми.
  </p>

  <h3>Як працює:</h3>
  <ol>
    <li>
      Користувач вводить <strong>суму</strong> (наприклад, <code>67</code>)
    </li>
    <li>
      Вводить <strong>номінали монет</strong> (наприклад,
      <code>1,5,10,25</code>)
    </li>
    <li>Натискає кнопку <strong>“Обчислити”</strong></li>
    <li>Алгоритм знаходить оптимальний розмін монет (жадібний підхід)</li>
    <li>Результат виводиться у вигляді списку: скільки яких монет потрібно</li>
  </ol></mat-dialog-content
>
