:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.coin-form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.button-group {
  display: flex;
  gap: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.result-title {
  font-weight: bold;
}
