<div class="container">
  <h3>💰 Калькулятор розміну монет</h3>

  <form [formGroup]="coinForm" (ngSubmit)="submit()" class="coin-form">
    <mat-form-field appearance="outline">
      <mat-label>Сума</mat-label>
      <input
        matInput
        type="text"
        formControlName="amount"
        maxlength="15"
        placeholder="Введіть суму (наприклад, 67)"
      />

      @if (coinForm.get("amount")?.hasError("required")) {
        <mat-error>Це поле обов’язкове</mat-error>
      } @else if (coinForm.get("amount")?.hasError("pattern")) {
        <mat-error>Має бути ціле число</mat-error>
      } @else if (coinForm.get("amount")?.hasError("min")) {
        <mat-error>Сума має бути більшою за нуль</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Номінали монет</mat-label>
      <input
        matInput
        type="text"
        formControlName="denominations"
        placeholder="Приклад: 1,5,10,25"
      />
      @if (coinForm.get("denominations")?.hasError("required")) {
        <mat-error>Це поле обов’язкове</mat-error>
      } @else if (coinForm.get("denominations")?.hasError("pattern")) {
        <mat-error>Введіть значення у форматі 1,5,10</mat-error>
      }
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button type="submit">🧮 Обчислити</button>
      <button
        mat-stroked-button
        type="button"
        (click)="generateRandomExample()"
      >
        🎲 Випадковий приклад
      </button>
    </div>
  </form>

  @if (result) {
    <div class="result">
      <p class="result-title">Результат:</p>

      <ul>
        @for (coin of result.breakdown; track coin) {
          <li>
            {{ coin.count }} монет{{ coin.count > 1 ? "и" : "а" }} ×
            {{ coin.coin }} = {{ coin.coin * coin.count }}
          </li>
        }
      </ul>

      <p class="total-coins">
        <strong>Загальна кількість монет:</strong> {{ result.totalCoins }}
      </p>
    </div>
  }
</div>
