<div class="container">
  <h3>💰 Coin Change Calculator</h3>

  <form [formGroup]="coinForm" (ngSubmit)="submit()" class="coin-form">
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input
        matInput
        type="text"
        formControlName="amount"
        placeholder="Enter amount (e.g. 67)"
      />

      @if (coinForm.get("amount")?.hasError("required")) {
        <mat-error> This field is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Coin Denominations</mat-label>
      <input
        matInput
        type="text"
        formControlName="denominations"
        placeholder="E.g. 1,5,10,25"
      />
      @if (coinForm.get("denominations")?.hasError("required")) {
        <mat-error> This field is required </mat-error>
      } @else if (coinForm.get("denominations")?.hasError("pattern")) {
        <mat-error>
          Please enter numbers separated by commas (e.g. 1,5,10)
        </mat-error>
      }
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button type="submit">🧮 Calculate</button>
      <button
        mat-stroked-button
        type="button"
        (click)="generateRandomExample()"
      >
        🎲 Random Example
      </button>
    </div>
  </form>

  @if (result) {
    <div class="result">
      <p class="result-title">Result:</p>

      <ul>
        @for (coin of result.breakdown; track coin) {
          <li>
            <span class="coin">{{ coin.count }}</span> {{ coin.count }} ×
            {{ coin.coin }}
          </li>
        }
      </ul>

      <p class="total-coins">
        <strong>Total Coins:</strong> {{ result.totalCoins }}
      </p>
    </div>
  }
</div>
